@using Intake.Helpers.Autocomplete
@model Intake.Models.IntakeFormModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ViaData Call Intake</h1>
</div>

@using (Html.BeginForm("SaveTicket", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset>

        <!-- Form Name -->
        <legend>Ticket</legend>

        <!-- Select Basic -->
        <div id="fg1" class="form-group">
            <label class="col-md-4 control-label" for="ServiceDeskName">Servicedesk</label>
            <div class="col-md-5">
                @Html.AutocompleteFor(m=>m.ServiceDesk, @Model.ServiceDesk, AutoCompleteType.ServiceDeskName,true)
                @*<select id="ServiceDeskName" name="ServiceDeskName" class="form-control">
                    <option value="1">Infra</option>
                    <option value="2">MSo</option>
                </select>*@
            </div>
        </div>

        <!-- Select Basic -->
        <div id="fg2" class="form-group">
            <label class="col-md-4 control-label" for="VerzoekType">Type verzoek</label>
            <div class="col-md-5">
                <select id="VerzoekType" name="VerzoekType" class="form-control" required>
                    <option value="0" selected>Selecteer verzoektype</option>
                    <option value="1">Terugbelverzoek</option>
                    <option value="2">Terugbelverzoek inzake bestaande ticket</option>
                    <option value="3">Nieuwe incident</option>
                    <option value="4">Update van bestaande ticket</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div id="fg3" class="form-group hidden">
            <label class="col-md-4 control-label" for="Compagny">Bedrijf</label>
            <div class="col-md-5">
                @Html.AutocompleteFor(m => m.Compagny, @Model.Compagny, AutoCompleteType.Compagny, true)
                @*<input id="Compagny" name="Compagny" type="text" placeholder="Naam van het bedrijf" class="form-control input-md" required="">*@
            </div>
        </div>

        <!-- Text input-->
        <div id="fg4" class="form-group hidden">
            <label class="col-md-4 control-label" for="ContactName">Contact</label>
            <div class="col-md-5">
                <input id="ContactName" name="ContactName" type="text" placeholder="Wie heeft er gebeld?" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Text input-->
        <div id="fg5" class="form-group hidden">
            <label class="col-md-4 control-label" for="ContactPhone">Telefoonnummer</label>
            <div class="col-md-5">
                <input id="ContactPhone" name="ContactPhone" type="text" placeholder="Bereikbaar op welk nummer?" class="form-control input-md" required>

            </div>
        </div>

        <!-- Search input-->
        <div id="fg6" class="form-group hidden">
            <label class="col-md-4 control-label" for="relatedTicket">Ticket</label>
            <div class="col-md-5">
                @Html.AutocompleteFor(m => m.Ticket, @Model.Ticket, AutoCompleteType.Ticket, isRequired: false, onselectfunction: "ticketChange")
                @*<input id="relatedTicket" name="relatedTicket" type="search" placeholder="Ticket nummer" class="form-control input-md">*@

            </div>
        </div>

        <!-- Textarea -->
        <div id="fg7" class="form-group hidden">
            <label class="col-md-4 control-label" for="Message">Bericht</label>
            <div class="col-md-4">
                <textarea class="form-control" id="Message" name="Message" required></textarea>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Submit">Indienen?</label>
            <div class="col-md-8">
                <button id="Submit" name="Submit" class="btn btn-success disabled" value="Save">Opslaan</button>
                <button id="Cancel" name="Cancel" class="btn btn-danger" value="Cancel">Wissen</button>
            </div>
        </div>

    </fieldset>
    if (ViewBag.MessageTitle !=null && ViewBag.MessageTitle != string.Empty)
    {
        if (ViewBag.MessageSucces)
        {
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@ViewBag.MessageTitle</strong><br />@ViewBag.MessageDisplay
            </div>
        }
        else
        {
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@ViewBag.MessageTitle</strong><br />@ViewBag.MessageDisplay
            </div>
        }
    }
    
}
